<h1>Productos</h1>

<ul>
  {{#each products}}
    <li>
      <strong>{{this.title}}</strong> - ${{this.price}}<br>
      {{this.description}}<br>
      <form action="/api/carts/6833adcb8a618a7c862b9d1a/product/{{this._id}}" method="POST">
        <button type="submit">Agregar al carrito</button>
      </form>
    </li>
    <hr>
  {{/each}}
</ul>

<a href="/carts/6833adcb8a618a7c862b9d1a">🛒 Ver carrito</a>
